<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT corporateIdentities ANY>
<!ATTLIST corporateIdentities id ID #REQUIRED>
<!ELEMENT coporateIdentityItem ANY>
<!ATTLIST coporateIdentityItem id ID #REQUIRED>
<!ELEMENT graphicDesign ANY>
<!ATTLIST graphicDesign id ID #REQUIRED>
<!ELEMENT graphicDesignItem ANY>
<!ATTLIST graphicDesignItem id ID #REQUIRED>
<!ELEMENT filmVideo ANY>
<!ATTLIST filmVideo id ID #REQUIRED>
<!ELEMENT filmVideoEntry ANY>
<!ATTLIST filmVideoEntry id ID #REQUIRED>
<!ELEMENT events ANY>
<!ATTLIST events id ID #REQUIRED>
<!ELEMENT eventItem ANY>
<!ATTLIST eventItem id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
]>
<root id="-1">
  <home id="1109" key="dec22f83-e999-40b9-b6e9-cc416d302ca8" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-06-21T12:59:14" updateDate="2018-06-21T12:59:14" nodeName="Home" urlName="home" path="-1,1109" isDoc="" nodeType="1081" creatorName="rheo" writerName="rheo" writerID="0" template="1079" nodeTypeAlias="home" isPublished="true" />
</root>