<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT corporateIdentities ANY>
<!ATTLIST corporateIdentities id ID #REQUIRED>
<!ELEMENT coporateIdentityItem ANY>
<!ATTLIST coporateIdentityItem id ID #REQUIRED>
<!ELEMENT graphicDesign ANY>
<!ATTLIST graphicDesign id ID #REQUIRED>
<!ELEMENT graphicDesignItem ANY>
<!ATTLIST graphicDesignItem id ID #REQUIRED>
<!ELEMENT filmVideo ANY>
<!ATTLIST filmVideo id ID #REQUIRED>
<!ELEMENT filmVideoEntry ANY>
<!ATTLIST filmVideoEntry id ID #REQUIRED>
<!ELEMENT events ANY>
<!ATTLIST events id ID #REQUIRED>
<!ELEMENT eventItem ANY>
<!ATTLIST eventItem id ID #REQUIRED>
]>
<root id="-1">
  <master id="1103" key="65f6a22f-8355-4223-b1de-a1f12268fa2b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-14T14:36:27" updateDate="2018-05-14T14:36:27" nodeName="Home" urlName="home" path="-1,1103" isDoc="" nodeType="1060" creatorName="rheo" writerName="rheo" writerID="0" template="1054" nodeTypeAlias="master" isPublished="true">
    <events id="1104" key="b5a5b8bd-748f-4616-803d-eeb18685251a" parentID="1103" level="2" creatorID="0" sortOrder="0" createDate="2018-05-14T14:39:01" updateDate="2018-05-14T14:39:01" nodeName="About Us" urlName="about-us" path="-1,1103,1104" isDoc="" nodeType="1097" creatorName="rheo" writerName="rheo" writerID="0" template="1096" nodeTypeAlias="events" isPublished="true" />
    <contact id="1105" key="41a8486e-d43d-4a67-aef3-41c3758bb1ff" parentID="1103" level="2" creatorID="0" sortOrder="1" createDate="2018-05-14T14:39:24" updateDate="2018-05-14T14:39:24" nodeName="Contact" urlName="contact" path="-1,1103,1105" isDoc="" nodeType="1102" creatorName="rheo" writerName="rheo" writerID="0" template="1100" nodeTypeAlias="contact" isPublished="true" />
  </master>
</root>