@inherits UmbracoViewPage
<section id="about">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="full-of-ideas">fULL OF IDEAS</h1>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p class="about-bio">Wij zijn een proactief, servicegericht communicatie en branding bureau. Wij helpen onze klanten om zich op een strategische en creatieve manier te onderscheiden van anderen. Middels ons grafisch portfolio en andere informatie op deze website krijgt u als klant een beeld van onze aanpak, werkwijze en het eindresultaat.</p>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <img class="img-fluid hvr-bounce-in" src="~/img/karin.jpg" alt="emp">
            </div>
            <div class="col-sm-2">
                <img class="img-fluid hvr-bounce-in" src="~/img/kenzo.jpg" alt="emp">
            </div>
            <div class="col-sm-2">
                <img class="img-fluid hvr-bounce-in" src="~/img/charlene.jpg" alt="emp">
            </div>
            <div class="col-sm-2">
                <div class="leer-ons-kennen hvr-forward">
                    <a href="about.html" class="leer-ons-kennen">LEER ONS KENNEN <img src="~/img/down-arrow.png" alt="leeronskennen"> </a>
                </div>
            </div>
        </div>



    </div>
    </div>
    </div>
</section>
