@inherits UmbracoViewPage
<section id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4  col-md-offset-2">

                <div class="panel panel-default panel-stas">
                    <div class="panel-body panel-stas-body hvr-wobble-horizontal">  We're are a small company <br> but out work <br> is absolutely huge... </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="scroll-down">

                        <a class="ct-btn-scroll ct-js-btn-scroll scroll-a hvr-sink whitener" href="#about"></a>
                        <p>SCROLL DOWN</p>
                    </div>
                </div>
            </div>
        </div>


    </div>



</section>
