@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AboutUs>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<section id="about_banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-offset-1">
                <div class="card">
                    <div class="card-body card-white">
                        <h1 class="card-title">About STAS International</h1>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-offset-1">
                <div class="card">
                    <div class="card-body card-dark">
                        <h2 class="card-title">There is no greater agony then bearing an untold story inside you </h2>
                        <h4 class="card-title">- Maya Angelou</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="onder-banner">
    <div class="container-fluid-no-pad">
        <div class="row no-pad">
            <div class="col-md-3">
                <img src="~/img/abt_corporate.jpg" class="img-responsive gallery hvr-grow">
            </div>
            <div class="col-md-3">
                <img src="~/img/abt_graphic.jpg" class="img-responsive gallery hvr-grow">
            </div>
            <div class="col-md-3">
                <img src="~/img/abt_film.jpg" class="img-responsive gallery hvr-grow">
            </div>
            <div class="col-md-3">
                <img src="~/img/abt_events.jpg" class="img-responsive gallery hvr-grow">
            </div>
        </div>
    </div>
</section>
<br>
<section id="about-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <h1 class="bolder"> Together we create</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2> STAS International is een proactief, servicegericht communicatie en branding bureau. Wij helpen onze klanten zich op een strategische en creatieve manier te onderscheiden van anderen. </h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p>STAS International is een full brand building bureau gevestigd in Suriname. Zij positioneert merken en voert de gehele communicatie van research tot en met creatie voor klanten uit het bedrijfsleven, de overheidssector, niet gouvernementele en gouvernementele organtisaties.</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <p>STAS International richt zich door haar professionele opzet en uistraling op de top 100 bedrijven en organisaties uit Suriname. Als Strategic Communication and Branding Authority beschikken wij over een full professional studio . Elke klant krijgt een acount manager toegewezen die de uitvoering ter hand neemt. </p>
            </div>
        </div>


    </div>
</section>
<br>
<br>
<section id="about-foto-section">
    <div class="container-fluid-no-pad">
        <div class="row no-pad">
            <div class="col-md-4 image">
                <img src="~/img/karinGroot.jpg" class="img-responsive gallery">
                <div class="overlay">
                    <h1 class="about-hov-title">Karin Revos </h1>
                    <h5 class="about-hov-functie">CEO </h5>
                    <p class="about-hov-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam in pariatur, voluptas. Impedit fugit laboriosam quasi autem qui fugiat illum, debitis, quia rerum quo aspernatur consequatur veritatis commodi libero.</p>
                    <br>
                    <br>
                    <div class="socials">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fab fa-linkedin fa-2x"></i>
                        <i class="fab fa-google-plus-square fa-2x"></i>
                    </div>

                </div>
            </div>
            <div class="col-md-4 image">
                <img src="/img/kenzoGroot.jpg" class="img-responsive gallery">
                <div class="overlay">
                    <h1 class="about-hov-title">Kenzo Soemodihardjo </h1>
                    <h5 class="about-hov-functie">Creative Director </h5>
                    <p class="about-hov-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam in pariatur, voluptas. Impedit fugit laboriosam quasi autem qui fugiat illum, debitis, quia rerum quo aspernatur consequatur veritatis commodi libero.</p>
                    <br>
                    <br>
                    <div class="socials">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fab fa-linkedin fa-2x"></i>
                        <i class="fab fa-google-plus-square fa-2x"></i>
                    </div>

                </div>
            </div>
            <div class="col-md-4 image">
                <img src="~/img/charleneGroot.jpg" class="img-responsive gallery">
                <div class="overlay">
                    <h1 class="about-hov-title">Charlene van Varsseveld </h1>
                    <h5 class="about-hov-functie">Project Manager </h5>
                    <p class="about-hov-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam in pariatur, voluptas. Impedit fugit laboriosam quasi autem qui fugiat illum, debitis, quia rerum quo aspernatur consequatur veritatis commodi libero.</p>
                    <br>
                    <br>
                    <div class="socials">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fab fa-linkedin fa-2x"></i>
                        <i class="fab fa-google-plus-square fa-2x"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

@{ Html.RenderPartial("Content/_CTABannerABT");}

@{ Html.RenderPartial("Content/_ContactBanner");}