@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.GraphicDesign>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<!-- Main jumbotron for a primary marketing message or call to action -->
<section id="graphic_banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="card">
                    <div class="card-body card-white">
                        <h1 class="card-title">Graphic Design</h1>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="card">
                    <div class="card-body card-dark">
                        <h2 class="card-title">Design is intelligence made visible</h2>
                        <h4 class="card-title card-author">-Alina Wheeler</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h1>We design for people</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 offset-2">


            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

        </div>
        <div class="col-md-6 offset-2">

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

        </div>

    </div>
</div>
<br>
<br>
<!-- charts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-2">
            <!--  <canvas id="canvasDesign" width="200" height="200">

             </canvas> -->
            <img src="~/img/gr75.png" class="img-responsive">
            <h3 class="under-chart-text">ontwerp</h3>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-2 ">
            <!--    <canvas id="canvasDtp" width="200" height="200">

               </canvas> -->
            <img src="~/img/gr84.png" class="img-responsive">
            <h3 class="under-chart-text">dtp</h3>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-2  ">

            <!-- <canvas id="canvasWebDesign" width="200" height="200">

            </canvas> -->
            <img src="~/img/gr61.png" class="img-responsive img61">
            <h3 class="under-chart-text">webdesign</h3>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-2 ">
            <!-- <canvas id="canvasAdobeCC" width="200" height="200">

            </canvas> -->
            <img src="~/img/gr97.png" class="img-responsive">
            <h3 class="under-chart-text">adobe cc </h3>
        </div>



    </div>
</div>

<!-- charts -->


<br>
<br>
<section id="gallery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 gallery hvr-grow-rotate">

                <img class="img-responsive" src="~/img/hermitage.jpg" />

            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 gallery hvr-grow-rotate">
                <img class="img-responsive" src="~/img/volksmuziek.jpg" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 gallery hvr-grow-rotate">
                <img class="img-responsive" src="~/img/fatum135.jpg" />
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 gallery hvr-grow-rotate">
                <img class="img-responsive" src="~/img/hermitageMall.jpg" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 gallery hvr-grow-rotate">
                <img class="img-responsive" src="~/img/afobakkaKaart.jpg" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 gallery hvr-grow-rotate">
                <img class="img-responsive" src="~/img/belastingdienst.jpg" />
            </div>

        </div>
    </div>
</section>
<section id="cta-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">

                <h2 class="cta-text">Want to know what STAS can do for u?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-5 col-xs-">
                <button class="btn btn-white" data-toggle="modal" data-target="#exampleModalCenter">LET'S GET IN TOUCH</button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalCenterTitle">Send us a message</h2>
                    <button type="button" class="close hvr-wobble-horizontal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <form>
                            <div class="form-group">

                                <input type="text" class="form-control half hvr-sweep-to-left" id="Name" placeholder="Name(required)" required="required">
                            </div>
                            <br>
                            <div class="form-group">

                                <input type="email" class="form-control half" id="Email" placeholder="E-mail Adress(required)" required="required">
                            </div>
                            <br>
                            <div class="form-group">

                                <input type="text" class="form-control half" id="Subject" placeholder="Subject">
                            </div>
                            <br>
                            <div class="form-group">

                                <textarea class="form-control half" id="exampleFormControlTextarea1" rows="3" placeholder="Message(required)" required="required"></textarea>
                            </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark pull-left hvr-pulse-grow"><i class="fab fa-telegram-plane"></i> Send Message</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="adres">
                    <center>  <i class="fas fa-home"></i></center>
                    <p> DR.J.F.NASSYLAAN 43, PARAMARIBO,SURINAME</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="telefoon">
                    <center>  <i class="fas fa-phone"></i></center>
                    <p> +597 521262,+597 521263</p>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="bericht">
                    <center><i class="fab fa-telegram-plane"></i></center>
                    <p>INFO@STASINTERNATIONAL.COM</p>
                </div>
            </div>
        </div>
    </div>
